/** FONTS */
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Montserrat&family=Open+Sans&family=Poppins&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
/* 
 font-family: 'Didact Gothic', sans-serif;
 font-family: 'Montserrat', sans-serif;
 font-family: 'Open Sans', sans-serif;
 font-family: 'Poppins', sans-serif;
 font-family: 'Roboto', sans-serif; 
 font-family: 'Lora', sans-serif; 
 font-family: 'Dosis', sans-serif;
font-family: 'Barlow Condensed', sans-serif;
*/